/* @font-face {
    font-family: Alumni Sans SC;
    src:
} */

body {
    margin: 0;
    font-family: system-ui;
    background-color: #111111;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    /* padding: 1rem; */
    /* margin: 1rem; */
    font-size: 64px;
    /* font-family: Alumni Sans SC; */
    
}

h2 {
    /* padding: 1rem; */
    /* margin: 1rem; */
    font-size: 36px;
    
}

h3 {
    /* padding: 1rem; */
    margin: 1rem;
    font-size: 18px;
    
}

/* header {
    min-height: 200px;
    padding: 2rem;
}

.navbar {
    background-color: #ffffff;
    margin: 0;
    padding: 1rem;
    overflow: hidden;
} */

/* .navbar > div {
    
} */

.logo {
    max-width: 30%;
    padding: 2rem;
    left: 30px;
}

/* Grid Layout */
.container {
    display: grid;
    grid-template-areas:
        "header social"
        "content content"
        "footer footer";
    grid-template-columns: 4fr 1fr;
    gap: 3px;
    /* background-color: blue; */
    padding: 5px;
}

.container div {
    /* background-color: aqua; */
    padding: 10px;
}

.container div.header {
    grid-area: header;
    /* text-align: center; */
}

.container div.subheader {
    grid-area: subheader;
}

.container div.social {
    grid-area: social;
    font-size: 16px;
    display: flex;           /* Enables flexbox */
    flex-direction: column;  /* Keeps links stacked vertically */
    justify-content: center; /* Centers vertically */
    align-items: left;     /* Left horizontally */
    gap: 10px;
}

.container div.content {
    grid-area: content;
}

.container div.footer {
    grid-area: footer;
}

/* scrolling boxes */
div.scroll-container {
    /* margin: 1rem; */
    overflow: scroll;
    white-space: nowrap;
    padding: 10px;
    /* display: block; */
    /* background-color: rgb(255, 255, 255); */
    /* border-radius: 1rem; */
    /* transition-duration: 0.3s; */
}

div.scroll-container img {
    padding: 10px;
    max-height: 500px;
}

.photoSlides *{
    width:  30%;
    max-width: fit-content;
    /* display: block; */
    padding: 1rem;
    margin: 1rem;
    background-color: rgb(15, 89, 115);
    border-radius: 1rem;
    transition-duration: 0.3s;
}

footer {
    min-height: 50px;
    background: rgb(171, 171, 171);
    /* text-align: center; */
}

/* TODO:
    make text srink after a surtain point */

@media (max-width: 767px) {
    .container {
    grid-template-areas:
        "header header"
        "social social"
        "content content"
        "footer footer";
    grid-template-columns: 2fr 1fr;
    }

    .container div.social {
        align-items: center;
    }

    header {
        min-height: 1vw;
    }

    h1 {
        font-size: 9vw;
        text-align: center;
    }
    /* header * h2 {
        font-size: 4vw;
        text-align: center;
    } */

    footer {
        min-height: 6vw;
        bottom: 10px;
    }
    h2 {
        font-size: 4vw;
        padding-left: 1rem;
        text-align: center;
        height: fit-content;
    }

    div.scroll-container img {
    padding: 10px;
    max-height: 300px;
    }
    
}



/* @media (max-width: px) {
    header {
        min-height: 1vw;
    }
    h1 {
        font-size: 9vw;
        text-align: center;
    }
    header * h2 {
        font-size: 4vw;
        text-align: center;
    }

    footer {
        min-height: 6vw;
        bottom: 10px;
    }
    h2 {
        font-size: 4vw;
        padding-left: 1rem;
        text-align: left;
        height: fit-content;
    }
} */